# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Data files (optional large files)
data/*.csv

# Plots
plots/*.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db